* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.fonts_container {
    width: 100%;
    padding: 20px;
}

.g_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font_header {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 7%;
    color: #fff;
}

.font_left {
    width: 100%;
    max-width: 700px;
}

.font_left h5 {
    display: block;
    color: #5B78F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 16.8px;
    margin-bottom: 10px;
    margin-top: 5%;
}

.font_left p {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    opacity: 0.8;
    font-weight: 400;
    margin-bottom: 30px;
}

.font_left span {
    color: #898989;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 24px;
}

.font_input_box {
    width: 100%;
    position: relative;
    border-radius: 30px;
    background: #0F0F0F;
    padding: 40px 30px 40px 30px;
    margin-top: 5%;
}

.font_inp_box_text h3 {
    font-size: 24px;
    line-height: 26.8px;
    color: #ffffff;
    margin-bottom: 40px;
}

.font_inp_box_text h4 {
    font-size: 24px;
    line-height: 26.8px;
    color: #ffffff;
    margin-bottom: 40px;
}

.font_left_btns button {
    background: #323232 !important;
    color: #ffffff !important;
    font-size: 12px !important;
    padding: 8px 20px;
    border-radius: 16px;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    padding: 10px 22px;
    font-weight: 400;
}

.font_left_btns button:hover {
    background: #ffffff !important;
    color: #323232 !important;
}

.font_h01 {
    width: 100%;
    max-width: 1200px;
    color: #fff;
    margin: auto;
    margin-top: 5%;
}

.font_h01 p {
    color: #BCBCBC;
    opacity: 0.7;
    margin-bottom: 24px;
    line-height: 1.6;
}

.font_h01 h1 {
    font-size: 56px;
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.fony_inp_box_inps input {
    width: 100%;
    border: none;
    background: linear-gradient(120deg, rgba(255,255,255,0.05), rgba(255,255,255,0.01));
    border-radius: 10px;
    padding: 17px 20px;
    font-size: 14px;
    display: block;
    color: #fff;
    margin-bottom: 25px;
}

.font_inp_box_btn button {
    background: #323232;
    width: 100%;
    color: #fff;
    display: inline-block;
    transition: .3s;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
}

.font_inp_box_btn button:hover {
    background: #fff;
    color: #323232;
}